<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لوحة التحكم</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <!-- Import Plotly -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/contact">اتصل بنا</a></li>
                <li><a href="/about">حول الموقع</a></li>
                <li><a href="/upload">تحميل صورة للترجمة</a></li>
                <li><a href="/dashboard">لوحة التحكم</a></li>
                <li><a href="/">الرئيسية</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>لوحة التحكم</h1>
        <h2>الكلمات العربية الأكثر تكراراً:</h2>

        <!-- Plotly chart will be rendered here -->
        <div id="chart"></div>

       <!-- <h2>أكثر 10 كلمات استخداماً:</h2>
        <table>
            <thead>
                <tr>
                    <th>الكلمة</th>
                    <th>عدد التكرارات</th>
                </tr>
            </thead>
            <tbody>
                {% for word, count in most_common_words %}
                <tr>
                    <td>{{ word }}</td>
                    <td>{{ count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> -->
    </div>

    <script>
        // Render the Plotly chart using the interactive_chart data from Flask
        var plotData = {{ interactive_chart | safe }};
        Plotly.newPlot('chart', plotData.data, plotData.layout);
    </script>
</body>
</html>
