<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لوحة التحكم</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <!-- Import Plotly -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/dashboard">لوحة التحكم</a></li>
                <li><a href="/">الرئيسية</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>لوحة التحكم</h1>
        <h2>الكلمات العربية الأكثر تكراراً:</h2>

        <div id="chart"></div>

        <h2>إجمالي الكلمات المترجمة:</h2>
        <p>{{ total_translated_words }}</p>
        <h2>عدد مستخدمين الموقع</h2>
        <p>{{ total_users }}</p>
        <h2>عدد الصور التي تم تحميلها علي الموقع</h2>
        <p>{{ total_uploaded_images }}</p>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>