<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تحميل صورة للترجمة</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/contact">اتصل بنا</a></li>
                <li><a href="/about">حول الموقع</a></li>
                <li><a href="/upload">تحميل صورة للترجمة</a></li>
                <li><a href="/dashboard">لوحة التحكم</a></li>
                <li><a href="/">الرئيسية</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>تحميل صورة للترجمة</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required><br><br>
            <button type="submit">ترجمة النص في الصورة</button>
        </form>

        <h2>النص المستخرج:</h2>
        <textarea id="arabicText" class="right-box" readonly>{{ extracted_text }}</textarea>

        <h2>الترجمة إلى الهيروغليفية:</h2>
        <textarea id="hieroglyphicsText" class="left-box" readonly>{{ hieroglyphics_text }}</textarea>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
